container_commands:
  01-remove-old-libraries:
        command: "rm -f /usr/share/tomcat7/lib/aws-dynamodb-session-tomcat*"
  02-copy-aws-library:
    command: "cp .ebextensions/aws-dynamodb-session-tomcat-*.jar /usr/share/tomcat8/lib/"
  03-replace-tomcat-context:
    command: "cp .ebextensions/context.xml /etc/tomcat8/context.xml"
   