*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Build dir #
target/

# We want to allow this one.. #
!environment/aws/ebextensions.memcache/*.jar
!environment/aws/ebextensions.tc8/*.jar

# But don't let anyone check in a new context.xml
environment/aws/ebextensions/context.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# EB CLI
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/saved_configs
.elasticbeanstalk/logs

# IDE
.settings/
.idea/
.classpath
.project
*.iml
