*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
context.xml

# Build dir #
target/

# We want to allow this one.. #
!environment/aws/ebextensions/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*




# IDE
.settings/
.idea/
.classpath
.project
