sources:
  /home/ec2-user: http://downloads.sourceforge.net/project/s3tools/s3cmd/1.5.0-alpha3/s3cmd-1.5.0-alpha3.tar.gz

container_commands:
  01_s3_upload_resources:
    command: /home/ec2-user/s3cmd-1.5.0-alpha3/s3cmd put -r resources/content/ s3://testapp-global/content/ --acl-public --config .ebextensions/s3.cfg
    leader_only: true
