<?xml version='1.0' encoding='utf-8'?>
<Context>
	<WatchedResource>WEB-INF/web.xml</WatchedResource>
	<Manager className="de.javakaffee.web.msm.MemcachedBackupSessionManager"
		memcachedNodes="hpp-memcache.oundwi.cfg.euw1.cache.amazonaws.com:11211"
		requestUriIgnorePattern=".*\.(ico|png|gif|jpg|css|js)$"
		sessionBackupAsync="false"
		sticky="false"
		copyCollectionsForSerialization="false"
		lockingMode="auto" />
</Context>

<!-- 		transcoderFactoryClass="de.javakaffee.web.msm.serializer.kryo.KryoTranscoderFactory" -->