container_commands:
  01-remove-old-libraries:
        command: "rm -f /usr/share/tomcat7/lib/memcached*.jar"
        command: "rm -f /usr/share/tomcat7/lib/AmazonElastiCache*.jar"
  02-copy-memcache-library:
    command: "cp .ebextensions/memcached*.jar /usr/share/tomcat7/lib/"
  03-copy-amazon-library:
    command: "cp .ebextensions/AmazonElastiCache*.jar /usr/share/tomcat7/lib/"
  04-copy-kyro:
    command: "cp .ebextensions/msm-kryo*.jar /usr/share/tomcat7/lib/"  
  05-replace-tomcat-context:
    command: "cp .ebextensions/context.xml /etc/tomcat7/context.xml"
   